body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:854px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:384px;
}
#u101 {
  position:absolute;
  left:467px;
  top:185px;
  width:387px;
  height:384px;
}
#u102 {
  position:absolute;
  left:2px;
  top:184px;
  width:383px;
  visibility:hidden;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:515px;
  top:417px;
  width:290px;
  height:39px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u104 {
  position:absolute;
  left:515px;
  top:469px;
  width:290px;
  height:46px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
